﻿<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Shop</h1>
                        <p class="text-secondary mb-0">BinhGold</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tại sao mọi người thích chúng tôi!</h4>
                    <p class="mb-4">
                        Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. 
                        Với chất lượng vượt trội, dịch vụ tận tâm và sự hỗ trợ nhanh chóng, 
                        mỗi trải nghiệm cùng chúng tôi đều mang đến sự tin cậy và thoải mái. 
                        Đó chính là lý do vì sao ngày càng nhiều người lựa chọn và gắn bó với chúng tôi.
                    </p>
                    <a href="#" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Điều hướng</h4>
                    <a asp-action="Index" asp-controller="Home" class="btn-link">Trang chủ</a>
                    <a asp-controller="HangHoa" asp-action="Index" class="btn-link">Sản phẩm</a>
                    <a asp-action="Index" asp-controller="Cart" class="btn-link">Giỏ hàng</a>
                    <a asp-action="MyOrders" asp-controller="HoaDon" class="btn-link">Hóa đơn</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a asp-controller="KhachHang" asp-action="DangNhap" class="btn-link">Đăng nhập</a>
                    <a asp-controller="KhachHang" asp-action="DangKy" class="btn-link">Đăng ký</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Address: 1429 Netus Rd, NY 48247</p>
                    <p>Email: Example@gmail.com</p>
                    <p>Phone: +0123 4567 8910</p>
                    <p>Payment Accepted</p>
                    <img src="img/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->